.rectangle {
        -fx-stroke: #636e72;
        -fx-stroke-type: inside;
        -fx-stroke-width: 1px;
}
#empty {
    -fx-background-color: #ECF0F1;
    -fx-fill: #ECF0F1;
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-style: solid;
}

#searched {
    -fx-fill: #2ecc71;
    -fx-border-width: 0.5px;
    -fx-border-color: #707070;
}

#searching {
    -fx-fill: #f1c40f;
    -fx-border-width: 0.5px;
    -fx-border-color: #707070;
}

#start {
    -fx-fill: #E74C3C;
    -fx-border-width: 0.5px;
    -fx-border-color: #707070;
}

#finish {
    -fx-fill: #3498db;
    -fx-border-width: 0.5px;
    -fx-border-color: #707070;
}

#barrier {
    -fx-fill: #2c3e50;
    -fx-border-width: 0.5px;
    -fx-border-color: #707070;
}

#found {
    -fx-fill: #9b59b6;
    -fx-border-width: 0.5px;
    -fx-border-color: #707070;
}

#toolPane{
    -fx-background-color: rgba(0, 0, 0, 0.15);
}

#toolPane:hover{
    -fx-background-color: rgba(255, 255, 255, .85);
}

#noPathPane .label{
    -fx-text-fill: red;
    -fx-font-size: 30px;
}

#x {
    -fx-text-fill: #ECF0F1;
    -fx-font-size: 10px;
}

#y {
    -fx-text-fill: #ECF0F1;
    -fx-font-size: 10px;
}

#empty:hover {
    -fx-fill: #BDC3C7;
}

#messageLabel {
    -fx-font-size: 20px;
}
